SUBSYSTEM=="usb", ATTRS{idVendor}=="05a9", ATTRS{idProduct}=="0580", GROUP="plugdev", MODE="0660", RUN+="/usr/bin/PS5_Camera_Loader /usr/lib/firmware/ps5-camera-firmware.bin"
